/*Fuente general del proyecto*/
@font-face
{
    font-family: "WeblySleek UI";
    src: url("../fonts/weblysleekuil.ttf");
}
/*Medidas generales del proyecto*/
html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    letter-spacing: .3px !important;
    font-family: "WeblySleek UI" !important;
}

/*Coloca en posición el logo principal*/
.logo-image
{
    margin-left: 75px;
    margin-top: 10px;
}

/*Div principal para el login*/
#center-panel-login
{
    position: absolute; /*nos posicionamos en el centro del navegador*/
    top: 63%;
    left: 50%; /*determinamos una anchura*/
    width: 420px; /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left: -200px; /*determinamos una altura*/
    height: auto; /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top: -150px;
    padding: 15px;
    background-color: transparent;
    z-index: 2;
}

/*Div para el error del login*/
#cError
{
    position: absolute; /*nos posicionamos en el centro del navegador*/
    top: 54%;
    left: 51.1%; /*determinamos una anchura*/
    width: 390px; /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left: -200px; /*determinamos una altura*/
    height: 0px; /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top: -140px;
    padding: 35px;
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: #BA0000;
    color: #fff;
    font-size: 14px;
    z-index: 2;
}

/*Div para el error del login*/
#cErrorOlvidasteContrasena
{
    /*top: 36%;*/
    left: 48%; /*determinamos una anchura*/
    width: 450px; /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left: -200px; /*determinamos una altura*/
    height: 0px; /*indicamos que el margen superior, es la mitad de la altura*/
    padding: 35px;
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: #BA0000;
    color: #fff;
    font-size: 14px;
    z-index: 2;
}

/*Pie de pagina para el login*/
#footer
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 88px;
    text-align: center;
    padding-top: 190px;
    z-index: -1;
}

/*Pie de pagina para el menu principal*/
#footer-menu
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding-top: 0px;
    background-color: transparent;
    z-index: 1;
}

/*Div que organiza redes sociales del menu.aspx*/
#social ul
{
    background-color: transparent;
    list-style-type: none;
    text-align: center;
}

#social li
{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

/*Acomoda las redessociales del login*/
#social-login ul
{
    margin-left: -16px;
    background-color: transparent;
    list-style-type: none;
    text-align: center;
}

#social-login li
{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

/*Div interno que alinea OSEF Technology*/
.creditos
{
    font-size: 13px;
    color: #fff;
    margin-top: 59px; /*Comentar esta linea para mostrar redes sociales*/
}

.creditos-menu
{
    font-size: 13px;
    color: #FFF;
    margin-top: 0px;
}

/*Efecto imagenes*/
.imgs
{
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
.imgs:hover
{
    filter: alpha(opacity=80);
    moz-opacity: .80;
    opacity: .80;
}
.imgs:active
{
    filter: alpha(opacity=40);
    moz-opacity: .80;
    opacity: .40;
}