/*Fuente general del proyecto*/
@font-face
{
    font-family: "WeblySleek UI";
    src: url("../fonts/weblysleekuil.ttf");
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
    letter-spacing: .3px !important;
    font-family: "WeblySleek UI" !important;
    background: transparent url(../images/banco.jpg) repeat 0 0 !important;
}
#wrapper {
   min-height:100%;
   position:relative;
 
}

.x-form-item-label {
color: white;
margin-top: 4px;
}


/*Coloca en posición el logo principal*/
.logo-image
{
    margin-left: 75px;
    margin-top: 10px;
}

#body {
   padding:10px;
   padding-bottom:70px;	/* Altura del footer */
  
}

/*Pie de pagina para el login*/
#footer
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 88px;
    text-align: center;
    z-index: -1;
    
}


/*Div interno que alinea OSEF Technology*/
.creditos
{
    font-size: 13px;
    color: #fff;
    margin-top: 59px; 
}


/*Efecto imagenes*/
.imgs
{
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
.imgs:hover
{
    filter: alpha(opacity=80);
    moz-opacity: .80;
    opacity: .80;
}
.imgs:active
{
    filter: alpha(opacity=40);
    moz-opacity: .80;
    opacity: .40;
}

.BotonPDF 
{
    color: White;
    margin-left: 400px; margin-right: auto; margin-top:20px;
    }
    
    .BotonesReportes 
{
    color: White;
    margin-left: 530px; margin-right: auto; margin-top:20px;
    }
    
.imgs
{
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
.imgs:hover
{
    filter: alpha(opacity=80);
    moz-opacity: .80;
    opacity: .80;
}
.imgs:active
{
    filter: alpha(opacity=40);
    moz-opacity: .80;
    opacity: .40;
}
    
