 .x-quirks .images-view .thumb {
            padding-bottom: 3px;
        }

        .images-view .thumb img {
            height: 120px;
            width: 140px;
        }

        .images-view .thumb-wrap {
            float: left;
            margin: 2px;
            margin-right: 0;
            padding: 5px;
        }

        .images-view .thumb-wrap span {  
            display: block;
            overflow: hidden;
            text-align: center;
            width: 146px; 
        }
        /*Thumb estado normal*/
         .images-view .thumb {
            opacity: 1;
            -moz-opacity: 1;
            filter: alpha(opacity=100);
        }
        /*Thumb estado over*/
        .images-view .x-item-over{
             filter: alpha(opacity=80);
            moz-opacity: .80;
            opacity: .80;
        }
        /*Thumb estado selected*/
        .images-view .x-item-selected{
            filter: alpha(opacity=40);
            moz-opacity: .80;
            opacity: .40;
        }
