@font-face
{
    font-family: "WeblySleek UI Semilight";
    src: url("../fonts/weblysleekuisl.ttf");
}

/*Texto de toolbar*/
.x-colorToolbar .x-toolbar-text
{
    color: red;
    font-family: "WeblySleek UI Semilight" !important; 
    font-weight:bold;
    font-size: 14px;
}
